<form  class="form-inline" formGroupName = "myForm">
  <div class="form-group" label="" >
    <input class="form-control"  placeholder="new-todo"
      #todoTitle="ngModel" ngModel
       name="todoTitle">
  </div>
  <button class="btn btn-default" type="submit" [disabled]="!todoTitle.valid"> submite </button>
</form>

 <ul class="nav nav-tabs nav-justified">
     <li> <a [routerLink]="['/assignee']">Todos Assignees 1</a></li>
     <li><a  [routerLink]="['/home']">Todo Tasks</a></li>
</ul>
   
<!-- Routed views go here -->
<router-outlet>
  <app-todos>
  </app-todos>
</router-outlet>

 